@font-face {
  font-family: "VictorMono";
  src: url("VictorMono-Regular.woff");
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(240, 248, 255);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  padding: 15px;
  border-radius: 5px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  background-color: #2d2d2d;
  color: rgb(216, 216, 216);
  font-family: VictorMono;
  font-size: 13px;
}

.collapser {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0px;
  border: none;
  background: #161616;
  color: rgb(187, 155, 116);
  border: 1px solid #cdaa7d33;
  text-align: left;
  cursor: pointer;
}

.collapser:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.collapser.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

pre {
  max-height: 0;
  box-sizing: border-box;
  color: rgb(187, 155, 116);
  font-size: 12px;
  font-family: VictorMono;
  background: #161616;
  padding: 0px 15px;
  margin: 0px;
  margin-bottom: 10px;
  border: 1px solid #cdaa7d33;
  border-top: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  transition: padding 0.2s ease-out, max-height 0.2s ease-in-out;
}

canvas {
  transform-origin: 0 0;
  user-select: none;
}

canvas,
img {
  padding: 0;
  margin: 0;
  image-rendering: optimizeSpeed;
  /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;
  /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast;
  /* Safari                        */
  image-rendering: -o-crisp-edges;
  /* OS X & Windows Opera (12.02+) */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE                            */
}

ul {
  list-style: none;
}

li {
  margin-bottom: 30px;
}

.centered {
  text-align: center;
}

.container {
  width: 75%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
}

.fail {
  color: red;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.pass {
  color: green;
}

.console-container {
  font-size: 10px;
  border: 1px solid black;
  background: #2d2d2d;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.console-output {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  max-height: 180px;
  overflow-y: auto;
}

.console-input {
  font-size: 10px;
  font-family: "Victor Mono";
  background: #2d2d2d;
  color: white;
  border: none;
}
